<a href="/admin/article/edit">新增</a>
<br>
<br>
<br>

<%= count %>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>title</th>
        </tr>
    </thead>
    <tbody>

        <% for (var i = 0; i < articles.length; i++) { %>
        <tr>
            <td scope="row">
                <%= i + 1  %>
            </td>
            <td>
                <%= articles[i].title %>
            </td>
        </tr>
        <% } %>

    </tbody>
</table>




<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>

<script>
    $(function () {

        // function getCategories () {
        //     $.ajax({
        //             url: '/categories/query',
        //             type: 'get',
        //             dataType: 'json',
        //             data: {
        //             },
        //             success: function (msg) {
        //                 console.log(msg);
        //                 if (msg.result) {
        //                     var categories = msg.categories;

        //                     var partitionCategories = _.partition(categories, function(v) {
        //                         return v.parent_id == 0
        //                     });

        //                     console.log('partitionCategories', partitionCategories)
        //                     var firstCategories = partitionCategories[0];
        //                     var otherCategories = partitionCategories[1];

        //                     console.log('categories', categories)

        //                     _.map(firstCategories, function(v) {
        //                         v.children = [];
        //                         return v;
        //                     });
        //                     // console.log('firstCategories', firstCategories)

        //                 } else {
        //                 }
        //             },
        //             error: function () {
        //             }
        //         })
        // }

        // getCategories();





        $(".category-delete").bind('click', function () {
            var categoryId = $(this).attr("data-categoryid");
            $.ajax({
                url: '/category/delete',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: categoryId,
                },
                // processData: false,
                // contentType: false,
                success: function (msg) {
                    console.log(msg);
                    if (msg.result) {
                        location.reload();
                    } else {
                        alert('删除失败')
                    }
                },
                error: function () {
                    alert('删除异常');
                }
            })
        });
    })
</script>