<button id="addCategory">新增分类</button>
<h2>分类列表</h2>
<ul id="categoryList">
        <% for (var i = 0; i < categoryList.length; i++) { %>
            <li>
                    <%= categoryList[i].category_name %>
                    <button class="category-delete" data-categoryid="<%= categoryList[i].id %>">删除</button>
            </li>
            <% } %>
</ul>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
<script>
    $(function () {
        $("#addCategory").click(function () {
            var categoryname = window.prompt("输入分类名称");
            if (categoryname != null && categoryname != "") {

                $.ajax({
                    url: '/category/create',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        name: categoryname,
                        parent_id: 0
                    },
                    // processData: false,
                    // contentType: false,
                    success: function (msg) {
                        console.log(msg);
                        if (msg.result) {
                            location.reload();
                        } else {
                            alert('新增失败')
                        }
                    },
                    error: function () {
                        alert('新增异常');
                    }
                })
            }
        });



        $(".category-delete").bind('click', function() {
            var categoryId = $(this).attr("data-categoryid");
            $.ajax({
                    url: '/category/delete',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        id: categoryId,
                    },
                    // processData: false,
                    // contentType: false,
                    success: function (msg) {
                        console.log(msg);
                        if (msg.result) {
                            location.reload();
                        } else {
                            alert('删除失败')
                        }
                    },
                    error: function () {
                        alert('删除异常');
                    }
                })
        });
    })
</script>