{% extends "./admin/layout.html" %}
{% block main%}
<ol class="breadcrumb">
    <li><a href="/admin">管理首页</a></li>
    <li><span>文章列表</span></li>
</ol>
<h3>文章列表</h3>
<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>内容标题</th>
        <th>分类名称</th>
        <th>作者</th>
        <th>添加时间</th>
        <th>阅读量</th>
        <th>操作</th>
    </tr>

   
   

    {% for post in posts %}
    <tr>
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
        <td>{{post.category.category_name}}</td>
        <td>作者</td>
        <td>{{post.create_time}}</td>
        {# <td>{{post.addTime|date('Y-m-d H:i:s',-8*60)}}</td> #}
        <td>{{post.pv}}</td>
        <td><a href="/admin/post/edit?id={{post.id}}">修改</a>|<a href="/admin/post/delete?id={{post.id}}">删除</a></td>
    </tr>
    {% endfor %}
</table>
{% include "./admin/page.html" %}
{% endblock %}