{% extends 'blog/base.html' %}
{% block body %}
{# {% include "blog/components/header.html" %} #}
<main id="main" class="main">
    <div class="main-inner">
        <div class="content-wrap">
            <div id="content" class="content">

                <section id="posts" class="posts-expand">
                    {% for post in posts %}
                    <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
                        <link itemprop="mainEntityOfPage" href="https://www.deboy.cn/interview-summary.html">

                        <span hidden="" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                            <meta itemprop="name" content="Deboy">
                            <meta itemprop="description" content="">
                            <meta itemprop="image" content="/uploads/avatar.jpg">
                        </span>

                        <span hidden="" itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
                            <meta itemprop="name" content="Deboy's Blog">
                        </span>


                        <header class="post-header">
                            <h2 class="post-title" itemprop="name headline">

                                <a class="post-title-link" href="/interview-summary.html" itemprop="url">
                                    {{post.title}}
                                </a>
                            </h2>


                            <div class="post-meta">
                                <span class="post-time">
                                    <span class="post-meta-item-icon">
                                        <i class="fa fa-calendar-o"></i>
                                    </span>
                                    <span class="post-meta-item-text">发表于</span>
                                    <time title="创建于" itemprop="dateCreated datePublished" datetime="2018-06-27T00:19:04+08:00">
                                        2018-06-27
                                    </time>
                                </span>

                                <span class="post-category">
                                    <span class="post-meta-divider">|</span>
                                    <span class="post-meta-item-icon">
                                        <i class="fa fa-folder-o"></i>
                                    </span>
                                    <span class="post-meta-item-text">分类于</span>
                                    <span itemprop="about" itemscope="" itemtype="http://schema.org/Thing">
                                        <a href="/categories/WEB前端/" itemprop="url" rel="index">
                                            <span itemprop="name">WEB前端</span>
                                        </a>
                                    </span>
                                    ，
                                    <span itemprop="about" itemscope="" itemtype="http://schema.org/Thing">
                                        <a href="/categories/WEB前端/面试/" itemprop="url" rel="index">
                                            <span itemprop="name">面试</span>
                                        </a>
                                    </span>
                                </span>


                                <span class="post-comments-count">
                                    <span class="post-meta-divider">|</span>
                                    <span class="post-meta-item-icon">
                                        <i class="fa fa-comment-o"></i>
                                    </span>
                                    <a href="/interview-summary.html#comments" itemprop="discussionUrl">
                                        <span class="post-comments-count disqus-comment-count" data-disqus-identifier="interview-summary.html"
                                            itemprop="commentCount">0 Comments</span>
                                    </a>
                                </span>


                            </div>
                        </header>


                        <div class="post-body" itemprop="articleBody">
                            初衷除了自己给自己充电 还有给同样从事前端的朋友一点面试经验补充面试题目很多，我总结的是我前段时间面试遇到的比较经典的问题,
                            面试样本有8家两家高级，其他初中级，高级侧重算法，初中级侧重框架使用的熟练程度和对源码的理解（理解层次看个人能力了）前端基础 + WEB安全 + 性能优化 是不分
                            ...
                            <div class="post-button text-center">
                                <a class="btn" href="/interview-summary.html#more" rel="contents">
                                    阅读全文 »
                                </a>
                            </div>
                        </div>

                        <footer class="post-footer">
                            <div class="post-eof"></div>
                        </footer>
                    </article>
                    {% endfor %}
                </section>

                <nav class="pagination">
                    <span class="page-number current">1</span><a class="page-number" href="/page/2/">2</a><span class="space">…</span><a class="page-number" href="/page/5/">5</a><a class="extend next" rel="next" href="/page/2/"><i class="fa fa-angle-right"></i></a>
                </nav>
            </div>
        </div>
    </div>
</main>
{% endblock %}